In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from pimsm import Group
from notebook_utils.test_suite import test_suite

In [3]:
test_suite(
    "T007 10 groups, 10 updates",
    
    Group("239.1.1.1")
    .join_range("10.1.1.50", "10.1.1.250")
    .join_rp("192.168.1.5")
    .rpt_prune_range("10.1.2.50", "10.1.2.229"),

    Group("239.1.1.2")
    .join_range("10.1.1.20", "10.1.1.49"),

    Group("239.1.1.3")
    .join_rp("192.168.1.5"),

    Group("239.1.1.4")
    .join_range("10.1.1.20", "10.1.1.250")
    .join_range("10.1.2.20", "10.1.2.250")
    .join_rp("192.168.1.6")
    .rpt_prune_range("10.2.1.20", "10.2.1.109"),

    Group("239.1.1.5")
    .join_range("10.1.1.30", "10.1.1.39")
    .join_rp("192.168.1.6")
    .rpt_prune_range("10.2.1.20", "10.2.1.68"),

    Group("239.1.1.6")
    .join_range("10.1.1.20", "10.1.1.109")
    .join_rp("192.168.1.5")
    .rpt_prune_range("10.2.1.20", "10.2.1.199"),

    Group("239.1.1.7")
    .join_range("10.1.1.50", "10.1.1.250")
    .join_rp("192.168.1.6")
    .rpt_prune_range("10.2.1.20", "10.2.1.49"),

    Group("239.1.1.8")
    .join_range("10.1.1.50", "10.1.1.79"),

    Group("239.1.1.9")
    .join_rp("192.168.1.8"),

    Group("239.1.1.10")
    .join_rp("192.168.1.8")
    .rpt_prune_range("10.1.1.20", "10.1.1.198"),
)