In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from pimc_testgen.pimsm import Group
from pimc_testgen.notebook_utils.test_suite import test_suite

In [3]:
test_suite(
    "T004 2 groups, 3 updates",
    Group("239.1.2.1")
    .join_range("10.1.1.50", "10.1.1.60")
    .join_rp("192.168.1.6"),
    Group("239.1.2.3")
    .join_range("10.1.1.50", "10.1.1.250")
    .join_rp("192.168.1.5")
    .rpt_prune_range("10.1.2.50", "10.1.2.229")
)