In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from pimc_testgen.pimsm import Group, addr_range
from pimc_testgen.notebook_utils.test_suite import test_suite

In [3]:
test_suite(
    "T006 4 groups, 6 updates",
    Group("239.1.2.1")
    .join_range("10.1.1.50", "10.1.1.149"),
          
    Group("239.1.2.2")
    .join_range("10.1.1.20", "10.1.1.250")
    .join_rp("192.168.1.5")
    .rpt_prune_range("10.1.2.20", "10.1.2.119"),
          
    Group("239.1.2.3")
    .join_range("10.1.1.50", "10.1.1.250")
    .join_rp("192.168.1.5")
    .rpt_prune_range("10.1.2.50", "10.1.2.229"),

    Group("239.1.2.4")
    .join_range("10.1.3.20", "10.1.3.29")
    .join_rp("192.168.1.6")
    .rpt_prune_range("10.1.4.10", "10.1.4.119"),
)